<%= link_to "Back to all shifts", shifts_path %><br/>

<h2>(<%= link_to "edit", edit_shift_path(@shift) %>, <%= link_to "delete", shift_path(@shift), method: :delete, data: {confirm: "You sure?"} %>)</h2>
<p><%= @shift.notes %></p>
