// Place all the styles related to the shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$day-color: #F5D76E;
$night-color: #BE90D4;

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

.calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 7rem;
    vertical-align: top;
    font-size: 16px;

      .fa-question-circle {
        font-size: 2rem;
      }
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
  .day-shift { background-color: $day-color }
  .night-shift { background-color: fade_out($night-color, 0.25) }
}

#month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

ul {
  font-size: 11px;
  padding-left: 20px;
}

/* for user image site wide*/
.avatar-image {
  border-radius: 50%;
}

/* display user image smaller on cal*/
.small-img {
  @include size(2em, 2em);
}